@import "tailwindcss";

* { box-sizing: border-box; }
html, body, #__next { height: 100%; }

:root {
  --background: #0a0c0f;
  --foreground: #fff;
  --primary: #FC741E;
  --primary-other: #6d120f;
  --secundary: #33dfff;
  --secundary-other: #253b56;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-p-other: var(--primary-other);
  --color-secundary: var(--secundary);
  --color-secundary-bg: var(--secundary-other);
  --breakpoint-laptop: 1390px;
  --breakpoint-desktop: 1500px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #001418;
    --foreground: #ededed;
  }
} */

body {
  margin: 0;
  background: var(--background);
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@layer utilities {
  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  .animate-infinite-scroll {
    animation: infinite-scroll 60s linear infinite;
  }
  .parrafo {
    @apply text-lg xl:text-lg/6 font-light;
  }

  .title{
    @apply font-bold text-3xl xl:text-4xl pb-4;
  }

  .title-subpage {
    @apply text-5xl font-bold tracking-tight pb-4;
  }
  .btn-primary {
    @apply bg-primary/90 text-background hover:bg-primary/100;
  }
}

@layer components {
  .background-style {
    @apply !bg-transparent border border-secundary-bg;
  }

  .card-text {
    @apply rounded-lg p-4 box-border justify-center items-center flex;
  }
  .card-style {
    @apply rounded-lg p-4 box-border;
  }

  .card-style > *:first-child {
    @apply mt-0;
  }

  .card-other {
    @apply rounded-lg p-4 box-border;
  }

  .card-photo {
    @apply rounded-lg;
  }
}
