@import "tailwindcss";

/* resets útiles */
* { box-sizing: border-box; }
html, body, #__next { height: 100%; }

:root {
  --background: #001418;
  --foreground: #fff;
  --primary: #FC741E;
  --primary-other: #6d120f;
  --secundary: #33dfff;
  --secundary-other: #036056;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-p-other: var(--primary-other);
  --color-secundary: var(--secundary);
  --color-secundary-bg: var(--secundary-other);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #001418;
    --foreground: #ededed;
  }
} */

body {
  margin: 0; /* <- quita el espacio por defecto del navegador */
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  font-weight: 300;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.background-style {
  background-color: transparent !important;
  border: 1px solid var(--secundary-other, #036056);
}

.card-style {
  border-radius: 0.75rem; 
  padding: 1rem;
  box-sizing: border-box;
}

.card-style > *:first-child {
  margin-top: 0;
}

.card-photo {
  border-radius: 0.75rem;
}

.title{
  font-weight: bold;
  font-size: 2rem;
}

@layer utilities {
  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  .animate-infinite-scroll {
    animation: infinite-scroll 60s linear infinite;
  }
}
/* 
.flex-responsive-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

@media (min-width: 1280px) {
  .flex-responsive-center {
    align-items: flex-start;
  }
} */

  /* .card-style {
    @apply rounded-xl p-4; 
    width: 60dvh; 
  }

  
  @screen xl {
    .card-style {
      width: auto;
    }
  }

  .card-photo {
    @apply rounded-xl;
    width: dvh; 
  }

  @screen xl {
    .card-photo {
      width: auto;
    }
  } */